<div class ="boxed col-md-4">
<div>
  <h4>Sign In</h4>
</div>

<form action="/authenticate">

<div class="form-group">
  <label class="control-label">Email Address:</label>
  <input name="email" type="text" class="form-control input-md">
</div>

<div class="form-group">
  <label class="control-label">Password:</label>
  <input name="pwd" type="password" class="form-control input-md"
</div>
<br>

<button type="submit" class="btn btn-success btn-md">Sign In</button>
  or
  <%= link_to "New user?  Register Here", "/users/new" %>

</form>

</div>

<img alt="full screen background image" src="http://i138.photobucket.com/albums/q248/uthpastor06/Bricks.jpg" id="full-screen-background-image" />

