
<div class ="boxed col-md-4">


<form class="form-signin" role="form" action="/users/create" >
<h4>Become a Registered User</h4>
<div class="form-group">
  <label class="control-label">First Name:</label>
  <input name="first_name" type="text" class="form-control input-md"
  placeholder="John">
</div>

<div class="form-group">
  <label class="control-label">Last Name:</label>
  <input name="last_name" type="text" class="form-control input-md"
  placeholder="Smith">
</div>

<div class="form-group">
  <label class="control-label">Hometown:</label>
  <input name="hometown" type="text" class="form-control input-md"
  placeholder="Pittsburgh">
</div>

<div class="form-group">
  <label class="control-label">Email Address:</label>
  <input name="email_address" type="text" class="form-control input-md"
  placeholder="john.smith@gmail.com">
</div>

<div class="form-group">
  <label class="control-label">Choose a Password:</label>
  <input name="password" type="text" class="form-control input-md">
</div>

<button type="submit" class="btn btn-success btn-md">Register!</button>
  or
  <%= link_to "Go Back", "/" %>
</form>

</div>

<img alt="full screen background image" src="http://i138.photobucket.com/albums/q248/uthpastor06/Bricks.jpg" id="full-screen-background-image" />

