<h3> About </h3>
<br>
<p> My name is Matthew Venzon and I am a second-year MBA candidate at The Kellogg School of Management.   This website is the end result of the ten-week course "Startup Programming and Management," taught by Jeff Cohen and Brian Eng.  Prior to the course, I knew absolutely nothing about programming, and it is thrilling to be able to build a site using HTML, CSS, Ruby on Rails, and (a very small amount of) Javascript after just ten weeks.  This site is database-backed, meaning that the pages are dynamic and flexible. Users can register, make comments, and create a favorites list.  As an administrator, I can make edits and updates easily and without sorting through hundreds of pages of architecturallyrepetitive code. </p>
<br>
<p>Prior to this course, I took for granted the amount of backend infrastructure for a sites even simpler than this one (if such a thing exists).  Many blearly-eyed late nights later, that is no longer the case.  Thank you, Jeff and Brian, for your patience and guidance!  Thanks also to Jane Gagnon, Paul Hubbard, Eric Lee, Ryan Rennaker, and Muchadei Zvoma for tips and suggestions.</p>
<br>
<p> In terms of content, this site combines my foremost interests and passions:  Music, Books, Movies, Cities and their neighborhoods.  Because coding was the priority, I wasn't able to devote as much time as I would have liked to the creative and editorial aspects of this site -- selecting photos, researching and writing the entries. (To be fully transparent, most of what you see and read here is the result of Google Image searches and liberal Wikipedia plagriarism.)  Nevertheless, the current version of the site gives a good general sense for the concept I originally envisioned and that I hope to continue building out. </p>
<br>
<p> Please feel free to contact me at matthew.venzon@gmail.com for tips or suggestions.  Thanks for visiting! </p>
